.auth-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg1);
  border: 1px solid var(--black);
  box-shadow: 0 0 5px 3px var(--black);
  padding: 1rem;
  margin: 5rem auto 0 auto;

  h1 {
    margin-bottom: 1rem;
  }

  p {
    margin: 1rem 0 0 0;
  }

  span {
    margin-top: .5rem;
    font-size: .9rem;
  }

  input:not(.btn), textarea {
    margin-top: 2rem;
    color: var(--txt1);
    background-color: var(--bg1);
    border: 1px solid var(--black);
    box-shadow: 0 0 3px 1px var(--black);
    border-radius: .2rem;
  }


  input[type="submit"] {
    margin: 2rem 0 1rem 0;
    opacity: .5;

    &.submit-valid {
      opacity: .8;

      &:hover {
        opacity: 1;
      }
    }
  }

  .reset-pass {
    text-align: center;
    color: var(--txt1);
  }
}

@media only screen and (max-width: 500px) {
  .auth-form {
    margin-top: 3rem;
  }
}