.auth-form {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg1);
  border: 1px solid var(--black-in-light);
  box-shadow: 0 0 3px 1px var(--black-in-light);
  padding: 1rem;
  margin: 5rem auto 0 auto;

  p {
    margin: 1rem 0 0 0;
  }

  span {
    margin-top: .5rem;
    font-size: .9rem;
  }

  input:not(.btn), textarea {
    resize: none;
    margin-top: 2rem;
    padding: .7rem;
    color: var(--txt1);
    background-color: var(--bg1);
    border: 1px solid var(--black-in-light);
    box-shadow: 0 0 3px 1px var(--black-in-light);
    border-radius: .2rem;
  }


  input[type="submit"] {
    margin-top: 2rem;
    opacity: .3;

    &.submit-valid {
      opacity: .7;

      &:hover {
        opacity: 1;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .auth-form {
    margin-top: 3rem;
  }
}