.header {
  position: sticky;
  top: 0;
  background-color: var(--color-bg2);
  color: var(--color-txt2);
  padding: 0 1rem;
  box-shadow: 0 0 2px 2px var(--color-bg2);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;

    a:not(.logo-container) {
      display: none;

    }
  }
  .logo-container {
    display: flex;
    align-items: center;
    align-content: center;
    opacity: 1;
    font-size: 1rem;

    p {
      font-family: Valoon;
      font-size: 1.5rem;
      padding-top: .5rem;
      :nth-child(1), :nth-child(3) { color: orange
      }
      :nth-child(2) {color: #40f540;
      }
    }
    .logo {
      margin-right: .4rem;
      transform: translateY(-2px) rotate(-44deg);
    }
  }

  .navlink {
    padding-top: .6rem;
  }

}

@media #{$mobile-min} {
  .header {
    padding: 0 2rem;
  }
}

@media #{$tablet-min} {
  .header {
    padding: 0 4rem;
  }
}
@media only screen and (min-width: 640px) {
  .header .navbar a:not(.logo-container) {display: inline;}
}