.header {
  position: sticky;
  top: 0;
  padding: .5rem 1rem;
  color: var(--txt2);
  background-color: var(--bg2);
  box-shadow: 0 0 3px 1px var(--black-in-light);
  border-bottom: 1px solid var(--black-in-light);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1001;

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;

    a:not(.logo-container) {
      display: none;
    }
  }

  .logo-container {
    display: flex;
    align-items: center;
    align-content: center;
    opacity: 1;
    font-size: 1rem;

    p {
      font-family: Valoon;
      font-size: 1.5rem;
      padding-top: .5rem;
      :nth-child(1), :nth-child(3) { color: orange
      }
      :nth-child(2) {color: #40f540;
      }
    }
    .logo {
      margin-right: .4rem;
      transform: translateY(1px) rotate(-44deg);
    }
  }

  .navlink {
    padding-top: .6rem;
  }

}

@media only screen and (min-width: 640px) {
  .header {
    padding: .5rem 3rem;

    .navbar a:not(.logo-container) {display: inline;}
  }

}