@import "responsive";
@import "reset";
@import "fonts";
@import "theme-colors";
@import "links";
@import "utils/scrollbar";
@import "main";
@import "header/header";
@import "header/burger-menu";
@import "header/menu";
@import "form/form";
@import "utils/toaster";
@import "utils/spinner";
@import "utils/pagination";
@import "home";
@import "recettes/recettes";
@import "recettes/recette_details";
@import "recettes/recette_edit";
@import "recettes/ingredients";
@import "recettes/comment";
@import "footer";


body {
  color: var(--txt1);
  background-color: var(--bg1);
  font-family: Montserrat;
  overflow-x: hidden;

  &:before, &:after {
    position: absolute;
    content: '';
    top: 7rem;
    background: var(--txt1);
    width: 30rem;
    height: 30rem;
    opacity: .1;
    z-index: -2;
  }
  &:before {
    right: 0;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
  }
  &:after {
    left: 0;
    opacity: 0;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
  }
}


@media #{$tablet-min} {
  body:after {
    opacity: 0.1;
  }
}