.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--txt2);
  background-color: var(--bg2);
  border-top: 1px solid var(--black-in-light);
  box-shadow: 0 0 3px 1px var(--black-in-light);


  .btn-theme {
    box-shadow: 0 0 5px 1px var(--txt2);
    width: 2.2rem;
    height: 1.3rem;
    border-radius: 10rem;
    display: flex;
    align-items: center;
    cursor: pointer;

    &[data-isdark="true"] {
      justify-content: right;
    }

    div:nth-child(1) {
      opacity: .7;
      margin: 0 .2rem;
      height: 1rem;
      width: 1rem;
      background-color: var(--txt2);
      border-radius: 50%;

      &:hover {opacity: 1;}
    }
  }
}