a, a:visited {
  font-size: 1rem;
  font-family: Comic;
  text-decoration: none;
  color: var(--txt2);
  opacity: .7;

  &:hover {
    opacity: 1;
  }
}

.btn, .btn:visited {
  font-family: Comic;
  cursor: pointer;
  text-align: center;
  letter-spacing: .1rem;
  color: var(--txt2);
  border: 1px solid var(--black-in-light);
  box-shadow: 0 0 3px 2px var(--black-in-light);
  background-color: var(--bg2);
  border-radius: .4rem;
  padding: .7rem 1.2rem;
  opacity: .8;

  &:hover {
    opacity: 1;
  }
}
