.main {
  margin: 2rem 1rem;

  h1 {
    font-size: 3rem;
    text-align: center;
    font-family: Montserrat !important;
    font-weight: bolder;
  }
  p {
    font-family: Montserrat;

    font-size: 1.2rem;
  }
}


@media only screen and (min-width: 450px) {
  .main {
    margin: 4rem;
  }
}