:root {
  --txt1: #034b06;
  --bg1: rgb(228, 245, 229);
  --txt2: rgb(228, 245, 229);
  --bg2: rgb(21, 164, 28);
  --black-in-light: black;
}

[data-theme="dark"] {
  --txt1: #EDF3F8;
  --bg1: #36536b;
  --txt2: #EDF3F8;
  --bg2: #36536b;
  --black-in-light: white;
}


.colors {
  color: #FBFCFE;
  color: #36536B;
  color: #1B262F;
  color: #DA6D97;
  color: #BA4270;
  color: #6C8294;
  color: #f7fafb;
}