:root {
  --txt1: #034b06;
  --bg1: #F1F2EB;
  --txt2: #121212;
  --bg2: #7EB77F;
  --black-in-light: #121212;
  --white-in-light: #FAFAFA;
  --black: #121212;
  --white: #FAFAFA;
  --green-light: #7EB77F;
  --toast-info: #4f3202;
  --toast-error: #790505;
}

[data-theme="dark"] {
  --txt1: #121212;
  --bg1: #7EB77F;
  --txt2: #F1F2EB;
  --bg2: #034b06;
  --black-in-light: #FAFAFA;
  --white-in-light: #121212;
  --black: #121212;
  --white: #FAFAFA;
  --toast-info: orange;
  --toast-error: #fd5959;

  input::placeholder {
    color: var(--txt1);
  }
}