.comment {
  display: flex;
  flex-direction: column;
  align-items: center;

  textarea {
    text-align: center;
    padding-top: 1rem;
  }

  .btn {
    margin: 1rem auto 0 auto !important;
  }
}

.like {
  display: flex;
  justify-content: space-between;
  align-items: center;

  svg {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
  }
}