.recettes {

  h2 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
    margin: 1rem 0;
  }
  p {
    text-align: center;
    margin: 1rem 0;
  }
  .btn-add {
    padding: .2rem .5rem;
    margin-right: 1rem;
  }
  .recettes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 3rem;
    border-radius: 1rem;

    .recette {
      border: 1px solid var(--black-in-light);
      box-shadow: 0 0 5px 1px var(--black-in-light);
      background-color: var(--bg1);
      border-radius: 1rem;
      max-width: 18rem;
      padding: 1rem;

      .actions {
        display: flex;
        justify-content: space-between;
        margin: 1rem;

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
      .title {
        font-size: 2rem;
        font-weight: bold;
      }
      img {
        width: 16rem;
        height: 10rem;
        border-radius: .5rem;
      }
    }
  }
}